* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserat;

}

nav {

	height: 180px;
	width: 100%;
}

label.logo{
	margin: 20px;
	color: white;
	font-size: 60px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	text-align: center;
	margin-right: 50px;

}

nav ul li {
	display: inline-block;
	line-height: 100px;
	margin: 0 30px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	border-radius: 3px;

}

a:hover{
	color: white;
}


.btn{
	border: 2px solid #0D385C;
	background: #0D385C;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 12px;
}

.btn:hover{
	background: #1F86DB;
	box-shadow: 0px 10px 6px #0D385C;
	transition: 0.5s;
	
}

#navBar {
	background: #1F86DB;
	border: 2px solid #0D385C;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	box-shadow: 0px 10px 6px #0D385C;
	position: static;
    width: 100%;


}

.pageContent {
	margin-top: 50px;
	margin-left: 30%;
	margin right: 30%;
	width: 650px;
	height: 300px;
	background: #1F86DB;
	border: 2px solid #0D385C;
	border-radius: 40px;
	box-shadow: 0px 10px 6px #0D385C;
}

#queryField {

	margin: 20px;
	width: 600px;
	height: 250px;
}


#rightSide {
	float: right;
}

#leftSide {
	float: left;
}

.outputField {

	color: white;

	font-size: 25px;

	
}

.outputFieldText {

	color: white;

	font-size: 15px;

}

#field1 {

	width: 350px;
	height: 150px;

}

#editButton{

	visibility: hidden;

}

#submitButton{

	visibility: visible;

}

.pageContent p {

	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px 5px #0D385C;
}

#about p {
	font-size: 17px;
	color: white;
	text-shadow: 2px 2px 5px #0D385C;
}

#about h2{

	font-size: 25px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 5px #0D385C;

}


footer {
	text-align: center;
	z-index: 1;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 3px;
	background-color: #1F86DB;
	color: white;
	border: 2px solid #0D385C;
}


.author {
	margin-left: 40%;
	
	width: 200px;
	height: 70px;
	border: 2px solid #0D385C;
	background: #0D385C;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 12px;
}

.author:hover{
	background: #1F86DB;
	box-shadow: 0px 10px 6px #0D385C;
	transition: 0.5s;

}

a:link { 
	color: white; 
} 
a:visited { 
	color: white; 
} 
a:hover { 
	color: white;
	text-shadow: 2px 2px 5px #0D385C 
}
a:active {
	color: white;
}